@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Noto Sans', sans-serif;
}

body * {
  @apply transition-colors duration-200;
  
}
body{
  min-height: 100vh;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
}

.videos-grid {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media screen and (max-width: 600px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px !important;
  }
}
